AUTH_SECRET=troque-por-um-valor-aleatorio
CERTBOT_DOMAIN=garcomagil.com
CERTBOT_EMAIL=luiz@garcomagil.com
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-xxx
MERCADO_PAGO_PUBLIC_KEY=APP_USR-xxx
MERCADO_PAGO_WEBHOOK_SECRET=xxx
MERCADO_PAGO_WEBHOOK_URL=https://seu-dominio.com/webhooks/mercadopago