POSTGRES_PASSWORD=troque-por-uma-senha-forte
POSTGRES_PASSWORD_URL=troque-por-uma-senha-forte
AUTH_SECRET=troque-por-um-segredo-forte

MERCADO_PAGO_ACCESS_TOKEN=APP_USR-xxx
MERCADO_PAGO_PUBLIC_KEY=APP_USR-xxx
MERCADO_PAGO_WEBHOOK_SECRET=xxx

VITE_API_URL=https://garcomagil.com/api
VITE_MERCADO_PAGO_PUBLIC_KEY=APP_USR-xxx
